@import '../../main-styles.scss';

.total-budget-section {
    display: flex;
    height: 150px;
    background: $dark;

    // Horizontally and vertically center the text
    justify-content: center;
    align-items: center;

    h2 {
        font-family: 'Lato';
        font-weight: 300;
        font-size: 58px;
        color: white;

        &.green {
            color: lighten($green, 12%);
        }

        &.red {
            color: lighten($red, 12%);
        }
    }
}

.add-item-section {
    display: flex;

    // Horizontally and vertically center the text
    justify-content: center;
    align-items: center;

    .add-item-container {
        width: 680px;
    }
}
